div{
    width: 100px;
    height: 100px;
    border: black 2px solid;
}
.element1{
    background-color: red;
    border: greenyellow solid 5px;
}
.element2{
    background-color: blue;
    border: purple solid 5px;
}
.mystyle{
    transform: rotate(45deg);
}